---
layout: default
permalink: /cs-reportcard/
---

<h1>CS Report Card</h1>

{% for course in site.data.courses %}
<div class="report">
  <div class="report__row">
    <span class="report__course-name">{{ course.name }}</span>
    <span class="report__course-institution">&mdash; {{ course.institution }}</span>
  </div>
  <div class="report__row report__row-second-row">
    <span class="report__course-date">{{ course.date }}</span>
    via

    <a class="report__course-platform" href="{{ course.url }}">{{ course.platform }}</a>


        {% if course.certificate %}
          &mdash;
          <a class="report__course-certificate" href="{{ course.certificate }}">[Certificate]</a>
        {% endif %}
    <div class="report__float-right">
        
        <span class="report__course-grade">{{ course.grade }}%</span>

    </div>
  </div>
</div>
  
{% endfor %}

