---
layout: default
---

<div class="wrapper">
  <div class="post">
    <h3>Welcome!</h3>
    <p>I am a software engineer deeply passionate about engineering and education (especially engineering education!). Please feel free to email me if there's anything at all you want to talk about: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>

    <h3>Recent Posts</h3>
    {% for post in site.posts %}
      {% if post.tags contains "featured" %}
        <p>
            {{ post.date | date: '%b %d, %Y' }} &mdash; <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </p>
      {% endif %}
    {% endfor %}
  </div>
</div>
