---
layout: default
---

<div class="wrapper">
  <div class="post">
    <h1>Welcome!</h1>
    <p>I am a software engineer deeply passionate about learning new things and helping others do the same. I'm currently working on the <em>Web</em> team at <a href="https://www.containerstore.com">The Container Store's</a> headquarters in Coppell, TX. Before that I was teaching high school Calculus, Physics, Astronomy, and Engineering. Before that I was in Aerospace Engineering &mdash; it's been a fun ride! 
    </p>

    <p>

      Please feel free to email me if there's anything at all you want to talk about: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>

    <h2>Featured Posts</h2>
    {% for post in site.posts %}
      {% if post.tags contains "featured" %}
        <p>

          <span class="home-date">{{ post.date | date: '%b %d, %Y' }}</span> <br />
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </p>
      {% endif %}
    {% endfor %}
  </div>
</div>