body, html {
    height: 100%;
    font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-color;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: $mobile-break;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $mobile-break) {
        width: 100%;
    }
}

.home-date {
    color: $text-muted-color;
    font-size: 16px;
}

.date {
    text-align: center;
    color: $text-muted-color;
    font-size: 16px;
}

.post, 
.site-header > div,
.site-footer > div {
    padding: 0 10px;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;

    @media (max-width: $mobile-break) {
        font-size: 40px;
        line-height: 40px;
    }
}

h2 {
    font-size: 28px;
    font-weight: 900;
}

h3 {
    font-size: 20px;
    font-weight: 900;
}

h1, h2, h3 {
    font-family: $header-font-family;
    text-align: center;
    color: $header-color;
}

p, .post {
    font-size: 20px;
    line-height: 1.5;
}


a {
    color: $text-color;
    text-decoration: none;
    border-bottom: 1px solid $link-color;
}

a:hover {
    color: $link-color;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

ul, ol {
    li {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.site-footer {
    margin-top: 100px;
    padding-bottom: 100px;
    padding-top: 20px;
    border-top: 3px solid $text-muted-color;
    background: #f6f6f6;


    p {
        margin: 0;
        font-size: 16px;
    }
}



.site-header {
    margin-bottom: 100px;
    @media (max-width: $mobile-break) {
        margin-bottom: 40px;
    }

    .sub-name {
        display: table;
        padding: 0px;
        width: 100%;
        font-size: 16px;
        padding-top: 10px;

    }

    a {
        border: none;
    }

    .left-sub-name,
    .right-sub-name {
        padding: 0 10px;
    }

    .left-sub-name {
        display: table-cell;
        text-align: left;
    }

    .right-sub-name {
        font-style: italic;
        display: table-cell;
        text-align: right;
    }


    @media (max-width: $mobile-break) {
        .sub-name,
        .left-sub-name,
        .right-sub-name {
            text-align: left;
            display: block;
        }
    }
}