body, html {
    height: 100%;
    font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-color;
    padding: 0;
    margin: 0;
}

.post ul li, .post ol li {
    margin-bottom: 5px;
}

.wrapper {
    width: $mobile-break;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    @media (max-width: $mobile-break) {
        width: 100%;
    }
}

.right-pane {
    display: none
}

@media (min-width: $mobile-break) {
    .left-pane {
        width: 650px;
        display: inline-block;

        .post {
            padding-right: 50px;
        }
    }

    .right-pane {
        width: 300px;
        display: inline-block;
        font-size: 18px;
    }
}

.home-date {
    color: $text-muted-color;
    font-size: 16px;
}

.date {
    color: $text-muted-color;
    font-size: 16px;
}

.post, 
.site-header > div,
.site-footer > div {
    padding: 0 10px;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 900;
    margin-bottom: 0;

    @media (max-width: $mobile-break) {
        font-size: 40px;
        line-height: 40px;
    }
}

h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
}

h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

h1, h2, h3 {
    font-family: $header-font-family;
    text-align: left;
    color: $header-color;
}

p, .post {
    font-size: $base-font-size;
    line-height: 1.5;
}


a {
    color: $text-color;
    text-decoration: none;
    border-bottom: 1px solid $link-color;
}

a:hover {
    color: $link-color;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 0 20px #f6f6f6;
}

ul, ol {
    li {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.site-footer {
    margin-top: 50px;
    padding-bottom: 100px;
    padding-top: 20px;
    border-top: 3px solid $text-muted-color;
    background: #f6f6f6;


    p {
        margin: 0;
        font-size: 16px;
    }
}



.site-header {
    margin-bottom: 100px;
    @media (max-width: $mobile-break) {
        margin-bottom: 40px;
    }

    .sub-name {
        display: table;
        padding: 0px;
        width: 100%;
        font-size: 16px;
        padding-top: 10px;

    }

    a {
        border: none;
    }

    .left-sub-name,
    .right-sub-name {
        padding: 0 10px;
    }

    .left-sub-name {
        display: table-cell;
        text-align: left;
    }

    .right-sub-name {
        font-style: italic;
        display: table-cell;
        text-align: right;
    }


    @media (max-width: $mobile-break) {
        .sub-name,
        .left-sub-name,
        .right-sub-name {
            text-align: left;
            display: block;
        }
    }
}

.report {
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey-color-light;
}

.report:last-child {
    border-bottom: none;
}

.report__row {
    margin-bottom: 2px;
}

.report__row-second-row {
    font-size: 14px;
}

.report__course-name {
    font-weight: 700;
}

.report__course-grade {
    font-weight: 700;
}

.report__course-institution {
    font-style: italic;
}

.report__float-right {
    float: right;
    text-align: right;
    font-size: 14px;
}

.report__in-progress {
    font-weight: 700;
    color: $red;
}

.subscribe {
    text-align: left;
    margin-top: 50px;
    padding-bottom: 0;
    padding-top: 20px;
    border-top: 3px solid #f6f6f6;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}


#mc_embed_signup {
    background:#fff; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
    width:100%;
}

#mc_embed_signup form {
    text-align: left !important;
}

.report__disclaimer {
    font-size: 14px;
    margin-top: 50px;
}

.report__asterisk {
    font-size: 18px;
    color: #2700E6;
}

.share {
    text-align: center;
    margin-top: 40px;
}

.specialization {
    background-color: #f6f6f6;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-bottom: 2px solid $text-color;

}

.specialization__name {
    font-family: $header-font-family;
    font-size: 14px;
    font-weight: 700;
}

.specialization__institution {
    font-style: italic;
    font-size: 14px;
}

.post blockquote p {
    font-size: 18px;
    font-style: italic;
}

.related-posts {
    margin-top: 60px;
    margin-bottom: 100px;
}

.related-post {
    margin-bottom: 25px;
}

.mc-field-group {
    width: 100%;
}

#mce-EMAIL-right {
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size: 15px;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #343434;
    background-color: #fff;
    box-sizing: border-box;
    height: 32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 250px;
    vertical-align: top;
    margin-bottom: 10px;
}

input[type=submit] {
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: $link-color;
    color: #ffffff;
}