---
layout: default
---

<!-- Facebook Script  -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter Script -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<!-- LinkedIn Script -->
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>

<div class="wrapper">
  <div class="post">
    <h1>{{ page.title }}</h1>
    <div class="date">
      {{ page.date | date: '%b %d, %Y'}}
    </div>
    {{ content }}
  </div>
  <div class="share">
    <link rel="me" href="https://twitter.com/qdonnellan">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" >Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <script type="IN/Share" data-url="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}?v=1.5"></script>

    <div style="top: -4px;" class="fb-share-button" data-href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&amp;src=sdkpreparse">Share</a></div>

  </div>
</div>